# Object files and executables
*.o
exe_*

# Log files
*log_*

# Temporary dirs for collecting all sources, builds, etc.
tmpdir
build_dir
all_srcs

# Verilator temporary build-dirs
Verilator_Make
Verilator_RTL

# Xilinx vivado logs etc
vivado_*
vivado.*
*.wdf
*.xml

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

